---
---

@import "{{ site.theme }}";

header {
  width: 240px;  
  padding: 34px 0px 22px 25px;
  margin: 30px 25px 0 0;
}

header li {
  width:142px;
  font-size: 16px;
}
header p {
  line-height: 1.3em;
}
img {
  border: none;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-bottom: 1px;
}

.wrapper {
  width:1280px;
}

section{
  width:970px;

}
body {
  font-size: 20px;
  line-height: 1.5em;
}

footer {
  font-size: 16px;
  line-height: 1.4em;
 }

@media print, screen and (max-width: 1280px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

	footer {
		border-top: 1px solid #ccc;
		margin:0 84px 0 50px;
		padding:0;
	}

  header {
    padding-right:320px;
  }

  section {
    padding:20px 84px 20px 50px;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:130px;
    top:84px;
  }
}

